# Opgave 27

## Probleem

We hebben het volgende lineaire programmeermodel:

* $\text{max } 3x+2y$
* $x+y \leq 16$
* $2x+y \leq 20$

De te maximaliseren doelfunctie $3x+2y$ noemen we $d$. Dus de doelfunctie $d=3x+2y$, oftewel 

$$\tag{1} d-3x-2y=0$$

De $\leq$ beperking schrijven we als vergelijking met _spelingsvariabelen_.

We krijgen dan het volgende stelsel met vergelijkingen:

$$ \tag{2} \begin{cases} d-3x-2y&=0 \\ x + y + s_1 &= 16 \\ 2x + y + s_2 &= 20 \end{cases} $$

Dit kunnen we noteren met de volgende matrix:

$$ \tag{3} \begin{bmatrix} 1 & -3 & -2 & 0 & 0 \\ 0 & 1 & 1 & 1 & 0 \\ 0 & 2 & 1 & 0 & 1 \end{bmatrix} = \begin{bmatrix}0\\16\\20\end{bmatrix}$$

## Simplex tableau

Als we het model omzetten naar een Simplex tableau krijgen we:

In [22]:
d = c(1,0,0)
x = c(-3, 1, 2)
y = c(-2, 1, 1)
s1 = c(0, 1, 0)
s2 = c(0, 0, 1)
RHS = c(0, 16, 20)
M = cbind(d,x,y,s1,s2,RHS)
rownames(M) = c('d', 's1', 's2')
M

   d x  y  s1 s2 RHS
d  1 -3 -2 0  0   0
s1 0  1  1 1  0  16
s2 0  2  1 0  1  20

Eerst vegen we de kolom voor de $x$ variabele:

In [23]:
M[1,] = M[1,] + M[3,]
M[1,] = M[1,] + M[2,]
M[3,] = M[3,] - 2*M[2,]
rownames(M) = c('d', 'x', 's2')
M

   d x y  s1 s2 RHS
d  1 0  0  1 1   36
x  0 1  1  1 0   16
s2 0 0 -1 -2 1  -12

Vervolgens vegen we de kolom voor de $y$ variabele:

In [24]:
M[3,] = -1*M[3,]
M[2,] = M[2,] - M[3,]
rownames(M) = c('d', 'x', 'y')
M

  d x y s1 s2 RHS
d 1 0 0  1  1 36
x 0 1 0 -1  1  4
y 0 0 1  2 -1 12

Nu zijn we klaar en kunnen we de oplossing aflezen uit het tableau.

## Oplossing

De optimale oplossing is $(4,12)$ met een winst van $\text{â‚¬}36$.

## Opmerkingen

 * Bij het vegen zoeken we eerst altijd naar het sterkst negatieve getal in rij 0. Zijn er meerdere dan wordt standaard het eerste getal van die rij gekozen.
 * Vegen doe je altijd met een positief getal.

# Opgave 28

We hebben het onderstaande model:

 * $\max 50x + 200y + 300z$
 * $\frac{1}{2}x + y + z \leq 13$
 * $y+2z \leq 18$
 * $x \leq 15$
 * $y \leq 10$
 * $z \leq 8$

Bovengenoemd model gaan we eerst omzetten naar de canonieke vorm. We stellen eerst de doelfunctie op:

$$ d = 50x + 200y + 300z \iff \tag{0} d-50x-200y-300z=0$$

Het gehele model omgezet naar de canonieke vorm geeft:

$$ \begin{cases} d - 50x - 200y - 300z = 0 \\ \frac{1}{2}x + y + z + s_1 = 13 \\ y + 2z + s_2 = 18 \\ x + s_3 = 15 \\ y + s_4 = 10 \\ z + s_5 = 8 \end{cases} $$

Als we beginnen in punt $(0,0,0)$, dan kunnen we zien dat $d=0$, $s_1=13$, $s_2=18$, $s_3 = 15$, $s_4 = 10$ en $s_5 = 8$. Vervolgens kunnen we het Simplex tableau invullen:

In [4]:
d = c(1,0,0,0,0,0)
x = c(-50, 1/2, 0, 1, 0, 0)
y = c(-200, 1, 1, 0, 1, 0)
z = c(-300, 1, 2, 0, 0, 1)
s1 = c(0, 1, 0, 0, 0 ,0)
s2 = c(0, 0, 1, 0, 0, 0)
s3 = c(0, 0, 0, 1, 0, 0)
s4 = c(0, 0, 0, 0, 1, 0)
s5 = c(0, 0, 0, 0, 0, 1)
RHS = c(0, 13, 18, 15, 10, 8)
M = cbind(d,x,y,z,s1,s2,s3,s4,s5,RHS)
rownames(M) = c('d', 's1', 's2', 's3', 's4', 's5')
M

   d x     y    z    s1 s2 s3 s4 s5 RHS
d  1 -50.0 -200 -300 0  0  0  0  0   0
s1 0   0.5    1    1 1  0  0  0  0  13
s2 0   0.0    1    2 0  1  0  0  0  18
s3 0   1.0    0    0 0  0  1  0  0  15
s4 0   0.0    1    0 0  0  0  1  0  10
s5 0   0.0    0    1 0  0  0  0  1   8

We kunnen zien dat we $d$ het meest kunnen verhogen met $z$, want $z=-300$. We kiezen dus voor kolom $z$. Vervolgens zien we dat de laagste restrictie $s_5$ is, dit zegt dat $z\leq 8$. We kiezen dit element als pivot om mee te vegen. Hiervoor voeren we de volgende operaties uit:

In [5]:
M[1,] = M[1,] + 300 * M[6,]
M[2,] = M[2,] - M[6,]
M[3,] = M[3,] - 2*M[6,]
rownames(M) = c('d', 's1', 's2', 's3', 's4', 'z')
M

   d x     y    z s1 s2 s3 s4 s5  RHS
d  1 -50.0 -200 0 0  0  0  0  300 2400
s1 0   0.5    1 0 1  0  0  0   -1    5
s2 0   0.0    1 0 0  1  0  0   -2    2
s3 0   1.0    0 0 0  0  1  0    0   15
s4 0   0.0    1 0 0  0  0  1    0   10
z  0   0.0    0 1 0  0  0  0    1    8

De volgende kolom met de laagste waarde is nu $y$, want $y=-200$. Vervolgens gebruiken we $s_2$ als pivot om de kolom mee te vegen.

In [6]:
M[1,] = M[1,] + 200*M[3,]
M[2,] = M[2,] - M[3,]
M[5,] = M[5,] - M[3,]
rownames(M) = c('d', 's1', 'y', 's3', 's4', 'z')
M

   d x     y z s1 s2  s3 s4 s5   RHS
d  1 -50.0 0 0 0  200 0  0  -100 2800
s1 0   0.5 0 0 1   -1 0  0     1    3
y  0   0.0 1 0 0    1 0  0    -2    2
s3 0   1.0 0 0 0    0 1  0     0   15
s4 0   0.0 0 0 0   -1 0  1     2    8
z  0   0.0 0 1 0    0 0  0     1    8

Als laatste de kolom met $x$. Hiervoor gaan we $s_1$ als pivot gebruiken.

In [7]:
M[1,] = M[1,] + 100*M[2,]
M[4,] = M[4,] - 2*M[2,]
M[2,] = 2*M[2,]
rownames(M) = c('d', 'x', 'y', 's3', 's4', 'z')
M

   d x y z s1  s2  s3 s4 s5 RHS
d  1 0 0 0 100 100 0  0   0 3100
x  0 1 0 0   2  -2 0  0   2    6
y  0 0 1 0   0   1 0  0  -2    2
s3 0 0 0 0  -2   2 1  0  -2    9
s4 0 0 0 0   0  -1 0  1   2    8
z  0 0 0 1   0   0 0  0   1    8

We optimale oplossing is $(6,2,8)$ wat een totale winst geeft van $\$3100$.