## Gegevens

Beschikbare grondstoffen:

 * 300 ml essence A
 * 350 ml essence B
 * 150 ml essence C
 
Samenstellingen:

 * Moonlight: 4 ml essence A en 2 ml essence B.
 * Daydream: 4 ml essence B en 2 ml essence C.
 * Sunflower: 3 ml essence A, 2 ml essence B en 1 ml essence C.
 
Winst:

 * Moonlight: €45,-
 * Daydream: €50,-
 * Sunflower: €60,-

## Vragen

_Tableau oplossing met de simplex methode._

15) Hoeveel flesjes van welke parfum moet de componist maken om een zo groot mogelijk winst te maken?

_Gevoeligheidsanalyse toepassen op het eindtableau._

41a) Stel, de parfumeur heeft geen 150 ml, maar 160 ml van essence C tot zijn beschikking. Wat zou dan de optimale oplossing en maximale winst zijn? En hoeveel ml van essence B blijft er dan over?

41b) Wat is de optimale oplossing en maximale winst als de parfumeur 200 ml van essence C tot zijn beschikking heeft?

41c) Stel, de parfumeur heeft geen 300 ml maar slechts 240 ml van essence A tot zijn beschikking. Wat zou dan de optimale oplossing en maximale winst zijn? En hoeveel ml van essence B blijft er dan over?

41d) Als de parfumeur toch minimaal 15 flesjes Moonlight wil maken, wat zou dan de optimale oplossing en maximale winst zijn? En hoeveel ml van essence B blijft er dan over?

# Opgave 15

De beslissingsvariabelen zijn:

 * $m$: aantal flesjes Moonlight
 * $d$: aantal flesjes Daydream
 * $s$: aantal flesjes Sunflower

LP-model:

 * $\max 45m + 50d + 60s $
 * $4m + 3s \leq 300$
 * $2m + 4d + 2s \leq 350$
 * $2d+s\leq150$

De doelfunctie $D=45m+50d+60s \iff D-45m-50d-60s=0$.

Canonieke vorm:

 * $ D-45m-50d-60s = 0 $
 * $4m + 3s + s_1 = 300$
 * $2m + 4d + 2s + s_2 = 350$
 * $2d+s + s_3=150$

In [58]:
D = c(1,0,0,0)
m = c(-45,4,2,0)
d = c(-50,0,4,2)
s = c(-60,3,2,1)
s1 = c(0,1,0,0)
s2 = c(0,0,1,0)
s3 = c(0,0,0,1)
RHS = c(0,300,350,150)
M = cbind(D,m,d,s,s1,s2,s3,RHS)
rownames(M) = c('D', 's1', 's2', 's3')
print('Iteration 1')
M

[1] "Iteration 1"

   D m   d   s   s1 s2 s3 RHS
D  1 -45 -50 -60 0  0  0    0
s1 0   4   0   3 1  0  0  300
s2 0   2   4   2 0  1  0  350
s3 0   0   2   1 0  0  1  150

In [59]:
M[2,] = M[2,] / 3
M[1,] = M[1,] + 60*M[2,]
M[3,] = M[3,] - 2*M[2,]
M[4,] = M[4,] - M[2,]
rownames(M) = c('D', 's', 's2', 's3')
print('Iteration 2')
M

[1] "Iteration 2"

   D m          d   s s1         s2 s3 RHS
D  1 35.0000000 -50 0 20.0000000 0  0  6000
s  0  1.3333333   0 1  0.3333333 0  0   100
s2 0 -0.6666667   4 0 -0.6666667 1  0   150
s3 0 -1.3333333   2 0 -0.3333333 0  1    50

In [60]:
M[1,] = M[1,] + 25*M[4,]
M[3,] = M[3,] - 2*M[4,]
rownames(M) = c('D', 's', 's2', 'd')
print('Iteration 3')
M

[1] "Iteration 3"

   D m         d s s1         s2 s3 RHS
D  1  1.666667 0 0 11.6666667 0  25 7250
s  0  1.333333 0 1  0.3333333 0   0  100
s2 0  2.000000 0 0  0.0000000 1  -2   50
d  0 -1.333333 2 0 -0.3333333 0   1   50

# Opgave 41