In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import pandas as pd

# Example

Let us consider the following LP-model:


 * $\max 5x + 2y$
 * $x+y\leq 10$
 * $x \leq 5$

First we setup a goal function $d$, which is $d=5x+2y$. Notating this in canonical form gives us: $d-5x-2y=0$. Now we translate the other constraints into our model, giving:

 0. $d-5x-2y=0$ (Goal function)
 1. $x+y+s_1=10$ (Constraint 1)
 2. $x+s_2=5$ (Constraint 2)

In [3]:
d = np.array([1,0,0])
x = np.array([-5,1,1])
y = np.array([-2,1,0])
s1 = np.array([0,1,0])
s2 = np.array([0,0,1])
rhs = np.array([0,10,5])
M = np.column_stack([d, x, y, s1, s2,rhs])
M

array([[ 1, -5, -2,  0,  0,  0],
       [ 0,  1,  1,  1,  0, 10],
       [ 0,  1,  0,  0,  1,  5]])

In [4]:
M[1,]+M[2,]

array([ 0,  2,  1,  1,  1, 15])

In [5]:
def create_df(cols, labels):
    if len(cols) is not len(labels):
        raise ValueError('Cols and labels are not of the same size.')
    df = pd.DataFrame()
    for i in range(len(cols)):
        df[labels[i]] = cols[i]
    return df

In [6]:
M = create_df([d,x,y,s1,s2,rhs],['d','x','y','s1','s2','rhs'])
M

   d  x  y  s1  s2  rhs
0  1 -5 -2   0   0    0
1  0  1  1   1   0   10
2  0  1  0   0   1    5

In [7]:
M.iloc[1]=M.iloc[1]+M.iloc[2]
M

   d  x  y  s1  s2  rhs
0  1 -5 -2   0   0    0
1  0  2  1   1   1   15
2  0  1  0   0   1    5

In [9]:
M['x']

0   -5
1    2
2    1
Name: x, dtype: int32