In [121]:
# Add the column and row numbers to the matrix for easier indexing.
# It preserves the original naming.
colrownames <- function(M) {
    cn=colnames(M)
    cn=paste(cn, ' (', c(1:length(M[1,])), ')', sep='')
    colnames(M)=cn
    rn=rownames(M)
    rn=paste(rn, ' (', c(1:length(M[,1])), ')', sep='')
    rownames(M)=rn
    M
}

# Returns the pivot element for a given column.
find.pivot <- function(M, col) {
    rhs.index=length(M[,1])
    row=M[,rhs.index]/M[,col]
    row[row>0 & !is.na(row) & row!=Inf]
}

In [103]:
A=c(1,0,0,0,0,0,0,0)
d=c(0,1,0,0,0,0,0,0)
o1=c(-1,-12,1,.5,7,3,1,0)
o2=c(0,-15,4,2,6,5,0,0)
o3=c(0,-20,8,.25,1,4,0,1)
s1=c(0,0,1,0,0,0,0,0)
s2=c(0,0,0,1,0,0,0,0)
s3=c(0,0,0,0,1,0,0,0)
s4=c(0,0,0,0,0,1,0,0)
a5=c(0,0,0,0,0,0,1,0)
s5=c(1,0,0,0,0,0,-1,0)
s6=c(0,0,0,0,0,0,0,1)
RHS=c(-50,0,1000,1500,1400,2000,50,10)
M=cbind(A,d,o1,o2,o3,s1,s2,s3,s4,a5,s5,s6,RHS)
rownames(M)=c('A','d','s1','s2','s3','s4','s5','s6')
M=colrownames(M)

# Iteratie 2
M[1,]=M[1,]+M[7,]
M[2,]=M[2,]+12*M[7,]
M[3,]=M[3,]-M[7,]
M[4,]=M[4,]-1/2*M[7,]
M[5,]=M[5,]-7*M[7,]
M[6,]=M[6,]-3*M[7,]

# Iteratie 3
M[2,]=M[2,]+20*M[8,]
M[3,]=M[3,]-8*M[8,]
M[4,]=M[4,]-1/4*M[8,]
M[5,]=M[5,]-M[8,]
M[6,]=M[6,]-4*M[8,]

# Iteratie 4
M[5,]=M[5,]/6
M[2,]=M[2,]+15*M[5,]
M[3,]=M[3,]-4*M[5,]
M[4,]=M[4,]-2*M[5,]
M[6,]=M[6,]-5*M[5,]
M

       A (1) d (2) o1 (3) o2 (4) o3 (5) s1 (6) s2 (7) s3 (8)     s4 (9)
A (1)  1     0     0      0      0      0      0       0.0000000 0
d (2)  0     1     0      0      0      0      0       2.5000000 0
s1 (3) 0     0     0      0      0      1      0      -0.6666667 0
s2 (4) 0     0     0      0      0      0      1      -0.3333333 0
s3 (5) 0     0     0      1      0      0      0       0.1666667 0
s4 (6) 0     0     0      0      0      0      0      -0.8333333 1
s5 (7) 0     0     1      0      0      0      0       0.0000000 0
s6 (8) 0     0     0      0      1      0      0       0.0000000 0
       a5 (10)   s5 (11)   s6 (12)     RHS (13)
A (1)   1.000000  0.000000  0.00000000    0.0000
d (2)  -5.500000  5.500000 17.50000000 3400.0000
s1 (3)  3.666667 -3.666667 -7.33333333  176.6667
s2 (4)  1.833333 -1.833333  0.08333333 1125.8333
s3 (5) -1.166667  1.166667 -0.16666667  173.3333
s4 (6)  2.833333 -2.833333 -3.16666667  943.3333
s5 (7)  1.000000 -1.000000  0.00000000   50.0000
s6 (8)  0.000000  0.000000  1.00000000   10.0000

De oplossing is $(50, 173.33, 10)$.