In [94]:
A=c(1,0,0,0,0,0,0,0)
d=c(0,1,0,0,0,0,0,0)
o1=c(-1,-12,1,.5,7,3,1,0)
o2=c(0,-15,4,2,6,5,0,0)
o3=c(0,-20,8,.25,1,4,0,1)
s1=c(0,0,1,0,0,0,0,0)
s2=c(0,0,0,1,0,0,0,0)
s3=c(0,0,0,0,1,0,0,0)
s4=c(0,0,0,0,0,1,0,0)
a5=c(0,0,0,0,0,0,1,0)
s5=c(1,0,0,0,0,0,-1,0)
s6=c(0,0,0,0,0,0,0,1)
RHS=c(-50,0,1000,1500,1400,2000,50,10)
M=cbind(A,d,o1,o2,o3,s1,s2,s3,s4,a5,s5,s6,RHS)
rownames(M)=c('1 A','2 d','3 s1','4 s2','5 s3','6 s4','7 s5','8 s6')
M

     A d o1    o2  o3     s1 s2 s3 s4 a5 s5 s6 RHS
1 A  1 0  -1.0   0   0.00 0  0  0  0  0   1 0   -50
2 d  0 1 -12.0 -15 -20.00 0  0  0  0  0   0 0     0
3 s1 0 0   1.0   4   8.00 1  0  0  0  0   0 0  1000
4 s2 0 0   0.5   2   0.25 0  1  0  0  0   0 0  1500
5 s3 0 0   7.0   6   1.00 0  0  1  0  0   0 0  1400
6 s4 0 0   3.0   5   4.00 0  0  0  1  0   0 0  2000
7 s5 0 0   1.0   0   0.00 0  0  0  0  1  -1 0    50
8 s6 0 0   0.0   0   1.00 0  0  0  0  0   0 1    10

In [95]:
M[1,]=M[1,]+M[7,]
M

     A d o1    o2  o3     s1 s2 s3 s4 a5 s5 s6 RHS
1 A  1 0   0.0   0   0.00 0  0  0  0  1   0 0     0
2 d  0 1 -12.0 -15 -20.00 0  0  0  0  0   0 0     0
3 s1 0 0   1.0   4   8.00 1  0  0  0  0   0 0  1000
4 s2 0 0   0.5   2   0.25 0  1  0  0  0   0 0  1500
5 s3 0 0   7.0   6   1.00 0  0  1  0  0   0 0  1400
6 s4 0 0   3.0   5   4.00 0  0  0  1  0   0 0  2000
7 s5 0 0   1.0   0   0.00 0  0  0  0  1  -1 0    50
8 s6 0 0   0.0   0   1.00 0  0  0  0  0   0 1    10

In [96]:
M[2,]=M[2,]+20*M[8,]
M[3,]=M[3,]-8*M[8,]
M[4,]=M[4,]-1/4*M[8,]
M[5,]=M[5,]-M[8,]
M[6,]=M[6,]-4*M[8,]
rownames(M)=c('1 A','2 d','3 s1','4 s2','5 s3','6 s4','7 s5','8 o3')
M

     A d o1    o2  o3 s1 s2 s3 s4 a5 s5 s6    RHS
1 A  1 0   0.0   0 0  0  0  0  0  1   0  0.00    0.0
2 d  0 1 -12.0 -15 0  0  0  0  0  0   0 20.00  200.0
3 s1 0 0   1.0   4 0  1  0  0  0  0   0 -8.00  920.0
4 s2 0 0   0.5   2 0  0  1  0  0  0   0 -0.25 1497.5
5 s3 0 0   7.0   6 0  0  0  1  0  0   0 -1.00 1390.0
6 s4 0 0   3.0   5 0  0  0  0  1  0   0 -4.00 1960.0
7 s5 0 0   1.0   0 0  0  0  0  0  1  -1  0.00   50.0
8 o3 0 0   0.0   0 1  0  0  0  0  0   0  1.00   10.0

In [97]:
M[3,]=M[3,]/4
M[2,]=M[2,]+15*M[3,]
M[4,]=M[4,]-2*M[3,]
M[5,]=M[5,]-6*M[3,]
M[6,]=M[6,]-5*M[3,]
rownames(M)=c('1 A','2 d','3 o2','4 s2','5 s3','6 s4','7 s5','8 o3')
M

     A d o1    o2 o3 s1    s2 s3 s4 a5 s5 s6     RHS
1 A  1 0  0.00 0  0   0.00 0  0  0  1   0   0.00    0.0
2 d  0 1 -8.25 0  0   3.75 0  0  0  0   0 -10.00 3650.0
3 o2 0 0  0.25 1  0   0.25 0  0  0  0   0  -2.00  230.0
4 s2 0 0  0.00 0  0  -0.50 1  0  0  0   0   3.75 1037.5
5 s3 0 0  5.50 0  0  -1.50 0  1  0  0   0  11.00   10.0
6 s4 0 0  1.75 0  0  -1.25 0  0  1  0   0   6.00  810.0
7 s5 0 0  1.00 0  0   0.00 0  0  0  1  -1   0.00   50.0
8 o3 0 0  0.00 0  1   0.00 0  0  0  0   0   1.00   10.0

In [80]:
M[,13]/M[,4]

     1 A      2 d     3 s1     4 s2     5 s3     6 s4     7 s5     8 o3
     NaN -40.0000 190.0000 746.2500 228.3333 376.0000      Inf      Inf