In [24]:
# Add the column and row numbers to the matrix for easier indexing.
# It preserves the original naming.
colrownames <- function(M) {
    cn=colnames(M)
    cn=paste(cn, ' (', c(1:length(M[1,])), ')', sep='')
    colnames(M)=cn
    rn=rownames(M)
    rn=paste(rn, ' (', c(1:length(M[,1])), ')', sep='')
    rownames(M)=rn
    M
}

# LP model

In [32]:
A=c(1,0,0,0,0,0,0)
d=c(0,1,0,0,0,0,0)
x=c(-2,3000,1,1,-1,0,0)
y=c(-1,4500,1,0,1,-1,0)
z=c(-1,4000,1,0,0,2,1)
A1=c(0,0,1,0,0,0,0)
S2=c(1,0,0,1,0,0,0)
A2=c(0,0,0,1,0,0,0)
s3=c(0,0,0,0,1,0,0)
s4=c(0,0,0,0,0,1,0)
s5=c(0,0,0,0,0,0,1)
RHS=c(-130,0,100,30,0,0,10)
M=cbind(A,d,x,y,z,A1,S2,A2,s3,s4,s5,RHS)
rownames(M)=c('A','d*','A1','A2','s3','s4', 's5')
M=colrownames(M)

# Iteratie 1
#M

# Iteratie 2: pivot A2,x
M[1,]=M[1,]+2*M[4,]
M[2,]=M[2,]-3000*M[4,]
M[3,]=M[3,]-M[4,]
M[5,]=M[5,]+M[4,]
#M

# Iteratie 3: pivot s3,y
M[1,]=M[1,]+M[5,]
M[2,]=M[2,]-4500*M[5,]
M[3,]=M[3,]-M[5,]
M[6,]=M[6,]+M[5,]

# Iteratie 4: pivot A1,z
M[1,]=M[1,]+M[7,]
M

       A (1) d (2) x (3) y (4) z (5) A1 (6) S2 (7) A2 (8) s3 (9) s4 (10)
A (1)  1     0     0     0        0  0          4      3      1  0
d* (2) 0     1     0     0     4000  0      -7500  -7500  -4500  0
A1 (3) 0     0     0     0        1  1         -2     -2     -1  0
A2 (4) 0     0     1     0        0  0          1      1      0  0
s3 (5) 0     0     0     1        0  0          1      1      1  0
s4 (6) 0     0     0     0        2  0          1      1      1  1
s5 (7) 0     0     0     0        1  0          0      0      0  0
       s5 (11) RHS (12)
A (1)  1           -30
d* (2) 0       -225000
A1 (3) 0            40
A2 (4) 0            30
s3 (5) 0            30
s4 (6) 0            30
s5 (7) 1            10

En toen? De doelfunctie $A$ klopt niet.