# Data Science (R)

## Creating, listing and deleting

In [1]:
n <- 15

In [2]:
n

[1] 15

In [3]:
6 -> n

In [4]:
n

[1] 6

In [5]:
n <- 10 + 2

In [6]:
n

[1] 12

In [7]:
n <- 3 + rnorm(1)

In [8]:
n

[1] 3.022614

In [9]:
(10 * 5) + 2

[1] 52

In [17]:
n = 10

In [18]:
n

[1] 10

In [10]:
name <- "Carmen"; n1 <- 10; n2 <- 100; m <- 0.5

**ls()** displays all objects in memory.

In [12]:
ls()

[1] "m"    "n"    "n1"   "n2"   "name"

In [16]:
ls(pat='m')

[1] "m"    "name"

In [19]:
ls.str()

m :  num 0.5
n :  num 10
n1 :  num 10
n2 :  num 100
name :  chr "Carmen"

In [20]:
M <- data.frame(n1, n2, m)

We can also search through the variables with `ls.str(pat="<identifier>")`.

In [21]:
ls.str(pat = "M")

M : 'data.frame':	1 obs. of  3 variables:
 $ n1: num 10
 $ n2: num 100
 $ m : num 0.5

In [24]:
ls.str(pat="M", max.level=-1)

ERROR: Error in ls.str(pat = "M", max.level = -1): unused argument (max.level = -1)

To delete objects from memory we can use `rm(obj)`.

In [25]:
rm(M)

Or remove a list of items with `rm` and `ls` e.g.: `rm(list=ls(pat="^m"))`.

In [26]:
rm(list=ls(pat="^m"))

On-line help functions.

In [30]:
#help('ls')

## Objects

In [31]:
x = 1

In [32]:
mode(x)

[1] "numeric"

In [33]:
length(x)

[1] 1

In [34]:
mode(1i)

[1] "complex"

In [35]:
N <- 2.1e23

In [36]:
N

[1] 2.1e+23

In [37]:
int(N)

ERROR: Error in int(N): could not find function "int"

In [38]:
Inf

[1] Inf

In [39]:
-Inf

[1] -Inf

In [40]:
NaN

[1] NaN

In [41]:
x <- 5/0

In [42]:
exp(x)

[1] Inf

In [44]:
x - x

[1] NaN

In [45]:
x = "Double quotes\" delimitate R's string.?"

In [46]:
x

[1] "Double quotes\" delimitate R's string.?"

Creating vectors:

In [48]:
c(2, 3, 5)

[1] 2 3 5

In [49]:
c(TRUE, FALSE, TRUE)

[1]  TRUE FALSE  TRUE

In [50]:
c(1,2) * c(2,3)

[1] 2 6

There are different data types:

* vector
* factor
* array
* matrix
* data frame
* ts
* list