# Counting sundays

## Problem

You are given the following information, but you may prefer to do some research for yourself.

* 1 Jan 1900 was a Monday.
* Thirty days has September, April, June and November. All the rest have thirty-one, Saving February alone, Which has twenty-eight, rain or shine. And on leap years, twenty-nine.
* A leap year occurs on any year evenly divisible by 4, but not on a century unless it is divisible by 400.

**How many Sundays fell on the first of the month during the twentieth century (1 Jan 1901 to 31 Dec 2000)?**

## Algorithm

The algorithm follows these steps:

1. For each $y$ in years $[1901, 2000]$
2. For each $m$ in months $[1, 12]$
3. For each $d$ in `days.in.month(m, is.leap.year(y))`
4. Increment counter `sundays` if it is a sunday.
5. Increment day counter; $D_{n+1}\equiv D + 1 \pmod{7}$

In [135]:
days.in.month <- function(month, is.leap.year) {
    if(month %in% c(4, 6, 9, 11)) return (30)
    if(month == 2) return (28 + ifelse(is.leap.year,1,0))
    return (31)
}

is.leap.year <- function(year) {
    (year %% 4 == 0 && year %% 100 != 0 && year %% 400 == 0)
}

current.day = 0
sundays = 0

for (y in 1900:2000) {
    for (m in 1:12) {
        for (d in 1:days.in.month(m, is.leap.year(y))) {
            sundays = sundays + ifelse(y>1900 && d==1 && current.day==6, 1, 0)
            current.day = (current.day + 1) %% 7
        }
    }
}

print(paste('There are', sundays, 'sundays'))

[1] "There are 171 sundays"

In [114]:
2000/400

[1] 5

In [115]:
is.leap.year(2000)

[1] TRUE

In [116]:
1800/400

[1] 4.5

In [117]:
is.leap.year(2000)

[1] TRUE

In [118]:
is.leap.year(1800)

[1] FALSE

In [119]:
is.leap.year(1700)

[1] FALSE

In [124]:
for (i in 10:20) print(paste(i*100, is.leap.year(i*100)))

[1] "1000 FALSE"
[1] "1100 FALSE"
[1] "1200 TRUE"
[1] "1300 FALSE"
[1] "1400 FALSE"
[1] "1500 FALSE"
[1] "1600 TRUE"
[1] "1700 FALSE"
[1] "1800 FALSE"
[1] "1900 FALSE"
[1] "2000 TRUE"

In [122]:
for (i in 1:50) {
    y = 1800 + 4 * i
    print(paste(y, is.leap.year(y)))
}

[1] "1804 TRUE"
[1] "1808 TRUE"
[1] "1812 TRUE"
[1] "1816 TRUE"
[1] "1820 TRUE"
[1] "1824 TRUE"
[1] "1828 TRUE"
[1] "1832 TRUE"
[1] "1836 TRUE"
[1] "1840 TRUE"
[1] "1844 TRUE"
[1] "1848 TRUE"
[1] "1852 TRUE"
[1] "1856 TRUE"
[1] "1860 TRUE"
[1] "1864 TRUE"
[1] "1868 TRUE"
[1] "1872 TRUE"
[1] "1876 TRUE"
[1] "1880 TRUE"
[1] "1884 TRUE"
[1] "1888 TRUE"
[1] "1892 TRUE"
[1] "1896 TRUE"
[1] "1900 FALSE"
[1] "1904 TRUE"
[1] "1908 TRUE"
[1] "1912 TRUE"
[1] "1916 TRUE"
[1] "1920 TRUE"
[1] "1924 TRUE"
[1] "1928 TRUE"
[1] "1932 TRUE"
[1] "1936 TRUE"
[1] "1940 TRUE"
[1] "1944 TRUE"
[1] "1948 TRUE"
[1] "1952 TRUE"
[1] "1956 TRUE"
[1] "1960 TRUE"
[1] "1964 TRUE"
[1] "1968 TRUE"
[1] "1972 TRUE"
[1] "1976 TRUE"
[1] "1980 TRUE"
[1] "1984 TRUE"
[1] "1988 TRUE"
[1] "1992 TRUE"
[1] "1996 TRUE"
[1] "2000 TRUE"