# Example

In [7]:
d = data.frame(ob=c(149971, 70808, 133518, 145658, 175701, 50960, 126606, 82329), state=1); d

  ob     state
1 149971 1
2  70808 1
3 133518 1
4 145658 1
5 175701 1
6  50960 1
7 126606 1
8  82329 1

In [8]:
library(survival)

# Parameter estimation using Maximum Likelihood Estimation

In [9]:
s = Surv(d$ob, d$state)
sr = survreg(s~1, dist="weibull")
sr

Call:
survreg(formula = s ~ 1, dist = "weibull")

Coefficients:
(Intercept)
   11.78215

Scale= 0.3017834

Loglik(model)= -96.1   Loglik(intercept only)= -96.1
n= 8

In [10]:
print(paste('beta =', 1 / sr$scale))
print(paste('eta =', exp(sr$coefficients[1])))

[1] "beta = 3.31363465580381"
[1] "eta = 130895.039243954"

# Median Rank Regression

In [ ]:
pp = qbeta(0.5, )

In [12]:
rank(d$ob, ties.method = "first")

[1] 7 2 5 6 8 1 4 3

In [14]:
library(weibulltoolkit)

ERROR: Error in library(weibulltoolkit): there is no package called 'weibulltoolkit'

In [15]:
plot.wb(d)

ERROR: Error in plot.wb(d): could not find function "plot.wb"