# Data Science (R)

## Creating, listing and deleting

In [1]:
n <- 15

In [2]:
n

[1] 15

In [3]:
6 -> n

In [4]:
n

[1] 6

In [5]:
n <- 10 + 2

In [6]:
n

[1] 12

In [7]:
n <- 3 + rnorm(1)

In [8]:
n

[1] 3.022614

In [9]:
(10 * 5) + 2

[1] 52

In [17]:
n = 10

In [18]:
n

[1] 10

In [10]:
name <- "Carmen"; n1 <- 10; n2 <- 100; m <- 0.5

**ls()** displays all objects in memory.

In [12]:
ls()

[1] "m"    "n"    "n1"   "n2"   "name"

In [16]:
ls(pat='m')

[1] "m"    "name"

In [19]:
ls.str()

m :  num 0.5
n :  num 10
n1 :  num 10
n2 :  num 100
name :  chr "Carmen"

In [20]:
M <- data.frame(n1, n2, m)

We can also search through the variables with `ls.str(pat="<identifier>")`.

In [21]:
ls.str(pat = "M")

M : 'data.frame':	1 obs. of  3 variables:
 $ n1: num 10
 $ n2: num 100
 $ m : num 0.5

In [24]:
ls.str(pat="M", max.level=-1)

ERROR: Error in ls.str(pat = "M", max.level = -1): unused argument (max.level = -1)

To delete objects from memory we can use `rm(obj)`.

In [25]:
rm(M)

Or remove a list of items with `rm` and `ls` e.g.: `rm(list=ls(pat="^m"))`.

In [26]:
rm(list=ls(pat="^m"))

On-line help functions.

In [30]:
#help('ls')

## Objects

In [31]:
x = 1

In [32]:
mode(x)

[1] "numeric"

In [33]:
length(x)

[1] 1

In [34]:
mode(1i)

[1] "complex"

In [35]:
N <- 2.1e23

In [36]:
N

[1] 2.1e+23

In [37]:
int(N)

ERROR: Error in int(N): could not find function "int"

In [38]:
Inf

[1] Inf

In [39]:
-Inf

[1] -Inf

In [40]:
NaN

[1] NaN

In [41]:
x <- 5/0

In [42]:
exp(x)

[1] Inf

In [44]:
x - x

[1] NaN

In [45]:
x = "Double quotes\" delimitate R's string.?"

In [46]:
x

[1] "Double quotes\" delimitate R's string.?"

Creating vectors:

In [48]:
c(2, 3, 5)

[1] 2 3 5

In [49]:
c(TRUE, FALSE, TRUE)

[1]  TRUE FALSE  TRUE

In [50]:
c(1,2) * c(2,3)

[1] 2 6

There are different data types:

* vector
* factor
* array
* matrix
* data frame
* ts
* list

Reading text files

`read.table(file, header = FALSE, sep = "", quote = "\"’", dec = ".", row.names, col.names, as.is = FALSE, na.strings = "NA",
colClasses = NA, nrows = -1,
skip = 0, check.names = TRUE, fill = !blank.lines.skip,
strip.white = FALSE, blank.lines.skip = TRUE,
comment.char = "#")`

In [74]:
mydata = read.table('data.txt', header=TRUE, sep=",", quote="\"'", dec=".")

Warning message in read.table("data.txt", header = TRUE, sep = ",", quote = "\"'", :
"incomplete final line found by readTableHeader on 'data.txt'"

In [75]:
mydata

  Vak              Periode Cijfer
1 Bewijstechnieken 3       8
2 DataScience      4       0

`scan(file = "", what = double(0), nmax = -1, n = -1, sep = "",
quote = if (sep=="\n") "" else "’\"", dec = ".",
skip = 0, nlines = 0, na.strings = "NA",
flush = FALSE, fill = FALSE, strip.white = FALSE, quiet = FALSE,
blank.lines.skip = TRUE, multi.line = TRUE, comment.char = "",
allowEscapes = TRUE)`

In [76]:
mydata <- scan('data.txt', what = list("", 0, 0))

ERROR: Error in scan("data.txt", what = list("", 0, 0)): scan() expected 'a real', got 'Bewijstechnieken,3,8'

In [77]:
mydata

  Vak              Periode Cijfer
1 Bewijstechnieken 3       8
2 DataScience      4       0

Writing data

In [78]:
write.table(mydata, file="testsave.txt")

## Generating data

### Regular sequences

In [79]:
x <- 1:30

In [80]:
x

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
[26] 26 27 28 29 30

In [81]:
1:10-1

 [1] 0 1 2 3 4 5 6 7 8 9

In [82]:
1:(10-1)

[1] 1 2 3 4 5 6 7 8 9

In [83]:
seq(1, 5, 0.5)

[1] 1.0 1.5 2.0 2.5 3.0 3.5 4.0 4.5 5.0

In [84]:
seq(length=9, from=1, to=5)

[1] 1.0 1.5 2.0 2.5 3.0 3.5 4.0 4.5 5.0

In [85]:
c(1,2,3,4,5)

[1] 1 2 3 4 5

Can be used to read data from the console.

In [86]:
z <- scan()

In [89]:
rep(1, 30)

 [1] 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1

In [90]:
sequence(4:5)

[1] 1 2 3 4 1 2 3 4 5

In [92]:
sequence(1:2:3:4)

Warning message in 1:2:3:
"numerical expression has 2 elements: only the first used"Warning message in 1:2:3:4:
"numerical expression has 3 elements: only the first used"

 [1] 1 1 2 1 2 3 1 2 3 4

Generate levels `gl`

In [93]:
gl(3, 5)

 [1] 1 1 1 1 1 2 2 2 2 2 3 3 3 3 3
Levels: 1 2 3

In [94]:
gl(3, 5, length=30)

 [1] 1 1 1 1 1 2 2 2 2 2 3 3 3 3 3 1 1 1 1 1 2 2 2 2 2 3 3 3 3 3
Levels: 1 2 3

In [95]:
gl(2, 6, label=c("Male", "Female"))

 [1] Male   Male   Male   Male   Male   Male   Female Female Female Female
[11] Female Female
Levels: Male Female

In [96]:
expand.grid(h=c(60, 80), w=c(100, 300), sex=c("Male", "Female"))

  h  w   sex
1 60 100 Male
2 80 100 Male
3 60 300 Male
4 80 300 Male
5 60 100 Female
6 80 100 Female
7 60 300 Female
8 80 300 Female

### Random sequences

Gaussian (normal)

In [97]:
rnorm(n, mean=0, sd=1)

 [1]  0.5153368  0.1635670  0.8629882  0.7402489  0.4579033  0.3611119
 [7]  0.8724984 -1.8383801  0.9981471  1.7833427

Exponential

In [98]:
rexp(n, rate=1)

 [1] 3.0387146 0.8162751 0.2040029 0.9651521 0.9997213 4.5355811 0.3669412
 [8] 0.7895430 0.1871959 0.5346836

Gamma

In [100]:
shape = c(1,2)

In [101]:
rgamma(n, shape, scale=1)

 [1] 1.4490302 4.8793500 3.4609676 3.6811174 0.8203522 1.1859794 0.9270988
 [8] 3.4317149 0.4729468 3.7355701

Poisson

In [103]:
lambda = 2

In [104]:
rpois(n, lambda)

 [1] 4 1 2 1 2 3 4 5 1 5

Weibull

In [105]:
rweibull(n, shape, scale=1)

 [1] 0.2255341 0.4764582 0.3810340 1.3455150 2.7524737 0.7937169 0.1449972
 [8] 0.7404046 1.1739786 1.5588027

Cauchy

In [106]:
rcauchy(n, location=0, scale=1)

 [1] -1.2287925 -0.9356933 -0.1889805 -0.3272547  1.1110096  0.1405693
 [7]  1.1358838 -1.1435594 32.2277003 -2.9978724

Beta

In [107]:
rbeta(n, shape, shape)

 [1] 0.8087940 0.1394398 0.3787412 0.2527068 0.1917151 0.9191630 0.7829682
 [8] 0.4331242 0.8066368 0.6661286

'Student' (t)

In [109]:
rt(n, mydata)

ERROR: Error in rt(n, mydata): invalid arguments

And many more!

## Manipulating variables