# R Book 2012

The book can be downloaded with this link:

http://cmas.siu.buap.mx/portal_pprd/work/sites/biologia/resources/PDFContent/168/R.%20Book%202012.pdf

## Week 1

Essentials of the R-language:

* 2.1 Calculations
* 2.3 Generating sequences
* 2.6 Vectors
* 2.7 Vector functions
* 2.8 Matrices and arrays

### Calculations

We can run simple calculations:

In [1]:
log(42,7.3)

[1] 1.880234

In [2]:
5+6+7+8+9

[1] 35

In [3]:
2+3; 5*7; 3-7

[1] 5

[1] 35

[1] -4

#### Complex numbers

In [5]:
z = 3.5-8i
z

[1] 3.5-8i

In [6]:
Re(z)

[1] 3.5

In [7]:
Im(z)

[1] -8

In [8]:
Mod(z)

[1] 8.732125

In [9]:
Arg(z)

[1] -1.158386

In [10]:
Conj(z)

[1] 3.5+8i

In [11]:
is.complex(z)

[1] TRUE

In [12]:
as.complex(3.8)

[1] 3.8+0i

#### Rounding

In [13]:
floor(5.7)

[1] 5

In [14]:
ceiling(5.7)

[1] 6

In [15]:
rounded = function(x) floor(x+0.5)

In [16]:
rounded(5.7)

[1] 6

In [17]:
rounded(5.4)

[1] 5

You have to decide how to handle negative numbers, because the concept of up and down is more subtle.

In [18]:
ceiling(-5.7)

[1] -5

In [19]:
floor(-5.7)

[1] -6

To simply strip of the decimal part.

In [20]:
trunc(5.7)

[1] 5

In [21]:
trunc(-5.7)

[1] -5

Rounding can be done with `round(x, decimals)`.

In [22]:
round(5.7, 0)

[1] 6

In [23]:
round(5.75, 1)

[1] 5.8

The number of digits is not the same as the number of significant digits. You can control the number of significant digits using the function `signif`.

In [24]:
signif(12345678,4)

[1] 12350000

In [26]:
signif(12345678,3)

[1] 12300000

#### Arithmetic

In [27]:
7 + 3 - 5 * 2

[1] 0

In [28]:
3^2 / 2

[1] 4.5

In [30]:
log(10)

[1] 2.302585

In [31]:
exp(1)

[1] 2.718282

In [32]:
log10(6)

[1] 0.7781513

In [33]:
log(9,3)

[1] 2

Mathematical functions in R are:

* `log(x)`
* `exp(x)`
* `log(x,n)`
* `log10(x)`
* `sqrt(x)`
* `factorial(x)`
* `choose(n, x)`
* `gamma(x)`
* `lgamma(x)`
* `floor(x)`
* `ceiling(x)`
* `trunc(x)`
* `round(x, digits=0)`
* `signif(x, digits=6)`
* `runif(n)`, generates $n$ random numbers between 0 and 1 from a uniform distribution.
* `sin(x)`, `cos(x)`, `tan(x)`
* `asin(x)`, `acos(x)`, `atan(x)`
* `asinh(x)`, `acosh(x)`, `atanh(x)`
* `abs(x)`

Trigonometric function in R are measured in radians:

In [34]:
pi

[1] 3.141593

In [35]:
sin(pi/2)

[1] 1

In [36]:
cos(pi/2)

[1] 6.123032e-17

#### Modulo and integer quotients

Integer quotients and remained are obtained using the notation `%/%` and `%%` respectively.

In [39]:
21 %/% 10

[1] 2

Module is done like

In [40]:
21 %% 10

[1] 1

Module is very useful for testing whether numbers are odd or even.

In [41]:
9 %% 2

[1] 1

In [42]:
8 %% 2

[1] 0

In [43]:
15421 %% 7 == 0

[1] TRUE

#### Variables names and assigment

* Variable names in R are **case sensitive**.
* Variable names should not begin with numbers.
* Variables names should not contain blank spaces.

In [45]:
x = 5; x

[1] 5

#### Operators

R uses the following operator tokens:

* Arithmetic: `+`, `-`, `*`, `/`, `%/%`, `%%`, `^`.
* Relational: `>=`, `<`, `<=`, `==`, `!=`.
* Logical (not, and, or): `!`, `&`, `|`.
* Model formulae (is modelled as a function of): `~`.
* Assigment: `<-`, `->`.
* List indexing: `$`.
* Create a sequence: `:`.

Several of these operators have different meaning inside model formulae. Thus `*` indicates the main effects plus interaction (rather than multiplication), `:` indicates the interaction between two variables (rather than generate a sequence) and `^` means all interactions op to the indicated power (rather than raise to the power).

#### Integers

The range of integers is from $-2,000,000,000$ to $+2,000,000,000$.

In [49]:
x = c(5,4,7,8); x

[1] 5 4 7 8

In [50]:
is.numeric(x)

[1] TRUE

Applying the integer function `x <- integer(x)` replaces all your numbers with zeros; definitely not what you intended!

In [56]:
x = c(5,3,7,8)
x = as.integer(x)
is.integer(x)

[1] TRUE

The integer function works as `trunc` when applied to real numbers, and removes the imaginary part when applied for complex numbers.

In [57]:
as.integer(5.7)

[1] 5

In [58]:
as.integer(-5.7)

[1] -5

In [61]:
as.integer(5.7 -3i)

Warning message in eval(expr, envir, enclos):
"imaginary parts discarded in coercion"

[1] 5

#### Factors

Factors are categorical variables that have a fixed number of levels. A simple example of a factor might be a variable called gened with two levels: `female` and `male`.

In [62]:
gender = factor(c('female', 'male', 'female', 'male', 'female'))
class(gender)

[1] "factor"

In [63]:
mode(gender)

[1] "numeric"

More often, you will create a dataframe by reading your data from a file using `read.table`. When you do this, all the variables contained one or more character strings will be converted automatically into factors.

In [64]:
data = read.table('daphnia.txt')

In [67]:
attach(data)

In [68]:
head(data)

  Growth.rate Water Detergent Daphnia
1 2.919086    Tyne  BrandA    Clone1
2 2.492904    Tyne  BrandA    Clone1
3 3.021804    Tyne  BrandA    Clone1
4 2.350874    Tyne  BrandA    Clone2
5 3.148174    Tyne  BrandA    Clone2
6 4.423853    Tyne  BrandA    Clone2

To check if a variable is a factor:

In [69]:
is.factor(Water)

[1] TRUE

To discover the *names* of the factor, levels:

In [70]:
levels(Detergent)

[1] "BrandA"

To discover the *number* of levels of a factor.

In [71]:
nlevels(Detergent)

[1] 1

In [73]:
length(levels(Detergent))

[1] 1

### Generating sequences

An important way of creating vectors is to generate a sequence of numbers.

In [74]:
0:10

 [1]  0  1  2  3  4  5  6  7  8  9 10

In [75]:
15:5

 [1] 15 14 13 12 11 10  9  8  7  6  5

In [76]:
seq(0, 1.5, 0.5)

[1] 0.0 0.5 1.0 1.5

In [77]:
seq(6, 4, -0.2)

 [1] 6.0 5.8 5.6 5.4 5.2 5.0 4.8 4.6 4.4 4.2 4.0

In many cases, you want to generate a sequence to match an existing vector in length.

In [78]:
N <- c(55,76,92,103,84,88,121,91,65,77,99)
seq(from=0.04, by=0.01, length=11)

 [1] 0.04 0.05 0.06 0.07 0.08 0.09 0.10 0.11 0.12 0.13 0.14

In [79]:
seq(0.04, by=0.01, along=N)

 [1] 0.04 0.05 0.06 0.07 0.08 0.09 0.10 0.11 0.12 0.13 0.14

Alternatively, you can get R to work out the increment (0.01) in this example.

In [80]:
seq(0.04, to=0.14, along=N)

 [1] 0.04 0.05 0.06 0.07 0.08 0.09 0.10 0.11 0.12 0.13 0.14

An important application of the last option ist o get the $x$ values for drawing smooth lines through a scatterplot of data using predicted values from a model.

Notice that when the increment does not match the final value, then the generated sequence stops short of the last value (rather then overstepping it).

In [81]:
seq(1.4, 2.1, 0.3)

[1] 1.4 1.7 2.0

In [82]:
sequence(c(4,3,4,4,4,5))

 [1] 1 2 3 4 1 2 3 1 2 3 4 1 2 3 4 1 2 3 4 1 2 3 4 5

#### Generating repeats

You will often want to generate repeats of numbers or characters, for which the function is `rep`.

In [83]:
rep(9,5)

[1] 9 9 9 9 9

In [84]:
rep(1:4, 2)

[1] 1 2 3 4 1 2 3 4

In [85]:
rep(1:4, each = 2)

[1] 1 1 2 2 3 3 4 4

In [87]:
rep(1:4, each = 2, times = 3)

 [1] 1 1 2 2 3 3 4 4 1 1 2 2 3 3 4 4 1 1 2 2 3 3 4 4

In [88]:
rep(1:4, 1:4)

 [1] 1 2 2 3 3 3 4 4 4 4

In [89]:
rep(1:4, c(4,1,4,2))

 [1] 1 1 1 1 2 3 3 3 3 4 4

In [90]:
rep(c("cat", "dog", "gerbill", "goldfish", "rat"),  c(2,3,2,1,3))

 [1] "cat"      "cat"      "dog"      "dog"      "dog"      "gerbill"
 [7] "gerbill"  "goldfish" "rat"      "rat"      "rat"

This is the most general, and also the most useful form of the `rep` function.

#### Generating factor levels