In [7]:
library(xtable)
library(IRdisplay)
library(repr)
data(tli)
tli.table <- xtable(tli[1:20, ])
digits(tli.table) <- matrix( 0:4, nrow = 20, ncol = ncol(tli)+1 )
options(repr.vector.quote=FALSE);

In [5]:
display_html('<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<style>#notebook-container{font-size: 13pt;font-family:\'Open Sans\', sans-serif;} div.text_cell{max-width: 104ex;}</style>')

# R Book 2012

The book can be downloaded with this link:

http://cmas.siu.buap.mx/portal_pprd/work/sites/biologia/resources/PDFContent/168/R.%20Book%202012.pdf

## Week 1

Essentials of the R-language:

* 2.1 Calculations
* 2.3 Generating sequences
* 2.6 Vectors
* 2.7 Vector functions
* 2.8 Matrices and arrays

### Calculations

We can run simple calculations:

In [1]:
log(42,7.3)

[1] 1.880234

In [2]:
5+6+7+8+9

[1] 35

In [3]:
2+3; 5*7; 3-7

[1] 5

[1] 35

[1] -4

#### Complex numbers

In [4]:
z = 3.5-8i
z

[1] 3.5-8i

In [5]:
Re(z)

[1] 3.5

In [6]:
Im(z)

[1] -8

In [7]:
Mod(z)

[1] 8.732125

In [8]:
Arg(z)

[1] -1.158386

In [9]:
Conj(z)

[1] 3.5+8i

In [10]:
is.complex(z)

[1] TRUE

In [11]:
as.complex(3.8)

[1] 3.8+0i

#### Rounding

In [12]:
floor(5.7)

[1] 5

In [13]:
ceiling(5.7)

[1] 6

In [14]:
rounded = function(x) floor(x+0.5)

In [15]:
rounded(5.7)

[1] 6

In [16]:
rounded(5.4)

[1] 5

You have to decide how to handle negative numbers, because the concept of up and down is more subtle.

In [17]:
ceiling(-5.7)

[1] -5

In [18]:
floor(-5.7)

[1] -6

To simply strip of the decimal part.

In [19]:
trunc(5.7)

[1] 5

In [20]:
trunc(-5.7)

[1] -5

Rounding can be done with `round(x, decimals)`.

In [21]:
round(5.7, 0)

[1] 6

In [22]:
round(5.75, 1)

[1] 5.8

The number of digits is not the same as the number of significant digits. You can control the number of significant digits using the function `signif`.

In [23]:
signif(12345678,4)

[1] 12350000

In [24]:
signif(12345678,3)

[1] 12300000

#### Arithmetic

In [25]:
7 + 3 - 5 * 2

[1] 0

In [26]:
3^2 / 2

[1] 4.5

In [27]:
log(10)

[1] 2.302585

In [28]:
exp(1)

[1] 2.718282

In [29]:
log10(6)

[1] 0.7781513

In [30]:
log(9,3)

[1] 2

Mathematical functions in R are:

* `log(x)`
* `exp(x)`
* `log(x,n)`
* `log10(x)`
* `sqrt(x)`
* `factorial(x)`
* `choose(n, x)`
* `gamma(x)`
* `lgamma(x)`
* `floor(x)`
* `ceiling(x)`
* `trunc(x)`
* `round(x, digits=0)`
* `signif(x, digits=6)`
* `runif(n)`, generates $n$ random numbers between 0 and 1 from a uniform distribution.
* `sin(x)`, `cos(x)`, `tan(x)`
* `asin(x)`, `acos(x)`, `atan(x)`
* `asinh(x)`, `acosh(x)`, `atanh(x)`
* `abs(x)`

Trigonometric function in R are measured in radians:

In [31]:
pi

[1] 3.141593

In [32]:
sin(pi/2)

[1] 1

In [33]:
cos(pi/2)

[1] 6.123032e-17

#### Modulo and integer quotients

Integer quotients and remained are obtained using the notation `%/%` and `%%` respectively.

In [34]:
21 %/% 10

[1] 2

Module is done like

In [35]:
21 %% 10

[1] 1

Modulo is very useful for testing whether numbers are odd or even.

In [36]:
9 %% 2

[1] 1

In [37]:
8 %% 2

[1] 0

In [38]:
15421 %% 7 == 0

[1] TRUE

#### Variables names and assigment

* Variable names in R are **case sensitive**.
* Variable names should not begin with numbers.
* Variables names should not contain blank spaces.

In [39]:
x = 5; x

[1] 5

#### Operators

R uses the following operator tokens:

* Arithmetic: `+`, `-`, `*`, `/`, `%/%`, `%%`, `^`.
* Relational: `>=`, `<`, `<=`, `==`, `!=`.
* Logical (not, and, or): `!`, `&`, `|`.
* Model formulae (is modelled as a function of): `~`.
* Assigment: `<-`, `->`.
* List indexing: `$`.
* Create a sequence: `:`.

Several of these operators have different meaning inside model formulae. Thus `*` indicates the main effects plus interaction (rather than multiplication), `:` indicates the interaction between two variables (rather than generate a sequence) and `^` means all interactions op to the indicated power (rather than raise to the power).

#### Integers

The range of integers is from $-2,000,000,000$ to $+2,000,000,000$.

In [40]:
x = c(5,4,7,8); x

[1] 5 4 7 8

In [41]:
is.numeric(x)

[1] TRUE

Applying the integer function `x <- integer(x)` replaces all your numbers with zeros; definitely not what you intended!

In [42]:
x = c(5,3,7,8)
x = as.integer(x)
is.integer(x)

[1] TRUE

The integer function works as `trunc` when applied to real numbers, and removes the imaginary part when applied for complex numbers.

In [43]:
as.integer(5.7)

[1] 5

In [44]:
as.integer(-5.7)

[1] -5

In [45]:
as.integer(5.7 -3i)

Warning message in eval(expr, envir, enclos):
"imaginary parts discarded in coercion"

[1] 5

#### Factors

Factors are categorical variables that have a fixed number of levels. A simple example of a factor might be a variable called gened with two levels: `female` and `male`.

In [46]:
gender = factor(c('female', 'male', 'female', 'male', 'female'))
class(gender)

[1] "factor"

In [47]:
mode(gender)

[1] "numeric"

More often, you will create a dataframe by reading your data from a file using `read.table`. When you do this, all the variables contained one or more character strings will be converted automatically into factors.

In [48]:
data = read.table('daphnia.txt')

In [49]:
attach(data)

In [50]:
head(data)

  Growth.rate Water Detergent Daphnia
1 2.919086    Tyne  BrandA    Clone1
2 2.492904    Tyne  BrandA    Clone1
3 3.021804    Tyne  BrandA    Clone1
4 2.350874    Tyne  BrandA    Clone2
5 3.148174    Tyne  BrandA    Clone2
6 4.423853    Tyne  BrandA    Clone2

To check if a variable is a factor:

In [51]:
is.factor(Water)

[1] TRUE

To discover the *names* of the factor, levels:

In [52]:
levels(Detergent)

[1] "BrandA"

To discover the *number* of levels of a factor.

In [53]:
nlevels(Detergent)

[1] 1

In [54]:
length(levels(Detergent))

[1] 1

### Generating sequences

An important way of creating vectors is to generate a sequence of numbers.

In [55]:
0:10

 [1]  0  1  2  3  4  5  6  7  8  9 10

In [56]:
15:5

 [1] 15 14 13 12 11 10  9  8  7  6  5

In [57]:
seq(0, 1.5, 0.5)

[1] 0.0 0.5 1.0 1.5

In [58]:
seq(6, 4, -0.2)

 [1] 6.0 5.8 5.6 5.4 5.2 5.0 4.8 4.6 4.4 4.2 4.0

In many cases, you want to generate a sequence to match an existing vector in length.

In [59]:
N <- c(55,76,92,103,84,88,121,91,65,77,99)
seq(from=0.04, by=0.01, length=11)

 [1] 0.04 0.05 0.06 0.07 0.08 0.09 0.10 0.11 0.12 0.13 0.14

In [60]:
seq(0.04, by=0.01, along=N)

 [1] 0.04 0.05 0.06 0.07 0.08 0.09 0.10 0.11 0.12 0.13 0.14

Alternatively, you can get R to work out the increment (0.01) in this example.

In [61]:
seq(0.04, to=0.14, along=N)

 [1] 0.04 0.05 0.06 0.07 0.08 0.09 0.10 0.11 0.12 0.13 0.14

An important application of the last option ist o get the $x$ values for drawing smooth lines through a scatterplot of data using predicted values from a model.

Notice that when the increment does not match the final value, then the generated sequence stops short of the last value (rather then overstepping it).

In [62]:
seq(1.4, 2.1, 0.3)

[1] 1.4 1.7 2.0

In [63]:
sequence(c(4,3,4,4,4,5))

 [1] 1 2 3 4 1 2 3 1 2 3 4 1 2 3 4 1 2 3 4 1 2 3 4 5

#### Generating repeats

You will often want to generate repeats of numbers or characters, for which the function is `rep`.

In [64]:
rep(9,5)

[1] 9 9 9 9 9

In [65]:
rep(1:4, 2)

[1] 1 2 3 4 1 2 3 4

In [66]:
rep(1:4, each = 2)

[1] 1 1 2 2 3 3 4 4

In [67]:
rep(1:4, each = 2, times = 3)

 [1] 1 1 2 2 3 3 4 4 1 1 2 2 3 3 4 4 1 1 2 2 3 3 4 4

In [68]:
rep(1:4, 1:4)

 [1] 1 2 2 3 3 3 4 4 4 4

In [69]:
rep(1:4, c(4,1,4,2))

 [1] 1 1 1 1 2 3 3 3 3 4 4

In [70]:
rep(c("cat", "dog", "gerbill", "goldfish", "rat"),  c(2,3,2,1,3))

 [1] "cat"      "cat"      "dog"      "dog"      "dog"      "gerbill"
 [7] "gerbill"  "goldfish" "rat"      "rat"      "rat"

This is the most general, and also the most useful form of the `rep` function.

#### Generating factor levels

The function `gl` (generate levels) is useful when you want to encode long vectors of factor levels. The three arguments are:

* up to
* with repeats of 
* to total length

In [71]:
gl(4,3)

 [1] 1 1 1 2 2 2 3 3 3 4 4 4
Levels: 1 2 3 4

In [72]:
gl(4,3,24)

 [1] 1 1 1 2 2 2 3 3 3 4 4 4 1 1 1 2 2 2 3 3 3 4 4 4
Levels: 1 2 3 4

If you want text for the factor levels, rather than numbers, use labels like this:

In [74]:
Temp = gl(2,2,24, labels=c('Low','High'))
Soft = gl(3,8,24, labels=c('Hard', 'Medium', 'Soft'))
M.user = gl(2,4,24, labels=c('N', 'Y'))
Brand = gl(2,1,24, labels=c('X', 'M'))

In [75]:
data.frame(Temp,Soft,M.user,Brand)

   Temp Soft   M.user Brand
1  Low  Hard   N      X
2  Low  Hard   N      M
3  High Hard   N      X
4  High Hard   N      M
5  Low  Hard   Y      X
6  Low  Hard   Y      M
7  High Hard   Y      X
8  High Hard   Y      M
9  Low  Medium N      X
10 Low  Medium N      M
11 High Medium N      X
12 High Medium N      M
13 Low  Medium Y      X
14 Low  Medium Y      M
15 High Medium Y      X
16 High Medium Y      M
17 Low  Soft   N      X
18 Low  Soft   N      M
19 High Soft   N      X
20 High Soft   N      M
21 Low  Soft   Y      X
22 Low  Soft   Y      M
23 High Soft   Y      X
24 High Soft   Y      M

#### Membership: Testing and coercing in R

The concept of membership and coercion may be unfamiliar. Membership relates to the class of an object in R. coercion changes the class of an object. for instance, a logical variable has class ` logical` and mode `logical`. This is how we create the variable.

In [80]:
lv = c(T,F,T)

In [81]:
is.logical(lv)

[1] TRUE

In [82]:
levels(lv)

NULL

In [83]:
(fv = as.factor(lv))

[1] TRUE  FALSE TRUE
Levels: FALSE TRUE

In [85]:
is.factor(fv)

[1] TRUE

We can coerce a logical variable to be numeric: `TRUE` evaluates to $1$ and `FALSE` evaluates to $0$.

In [86]:
(nv = as.numeric(lv))

[1] 1 0 1

Functions for testing (`is`) the attribute of different categories of object (arrays, lists, etc.) and for coercing (`as`) the attributes of an object into a specified form. Neither operation changes the attributes of the object unless you overwrite its name.

We have the following data types: `array`, `character`, `complex`, `data.frame`, `double`, `factor`, `list`, `logical`, `matrix`, `numeric`, `raw`, `ts` (time series), `vector`. Which can be used with `is.<type>` and `as.<type>`.

#### Missing values, infinity and things that are not numbers

Calculations can lead to answers that are plus infinity, represented in R by `Inf`, or minus infinity, which is represented as `-Inf`.

In [87]:
3/0

[1] Inf

In [88]:
-12/0

[1] -Inf

In [89]:
exp(-Inf)

[1] 0

In [90]:
0/Inf

[1] 0

In [92]:
(0:3)^Inf

[1]   0   1 Inf Inf

In [93]:
0/0

[1] NaN

In [94]:
Inf/Inf

[1] NaN

In [95]:
is.finite(10)

[1] TRUE

In [96]:
is.infinite(10)

[1] FALSE

In [97]:
is.infinite(Inf)

[1] TRUE

#### Missing values

This syntax is useful in editing out rows containing missing values from large dataframes. Here is a simple example:

In [100]:
y1 = c(1,2,3,NA)
y2 = c(5,6,NA,8)
y3 = c(9,NA,11,12)
y4 = c(NA,14,15,16)
full.frame = data.frame(y1,y2,y3,y4)
full.frame

  y1 y2 y3 y4
1  1  5  9 NA
2  2  6 NA 14
3  3 NA 11 15
4 NA  8 12 16

In [101]:
reduced.frame = full.frame[!is.na(full.frame$y1),]
reduced.frame

  y1 y2 y3 y4
1 1   5  9 NA
2 2   6 NA 14
3 3  NA 11 15

Some functions do not work with their default settings when there are missing values in the data, and `mean` is a classic example of this.

In [102]:
x = c(1:8,NA)
mean(x)

[1] NA

In [103]:
mean(x,na.rm=T)

[1] 4.5

Here is an example where we want to find the locations of missing values within a vector called `vmv`.

In [105]:
vmv = c(1:6,NA,NA,9:12)
vmv

 [1]  1  2  3  4  5  6 NA NA  9 10 11 12

In [106]:
seq(along=vmv)[is.na(vmv)]

[1] 7 8

However, the result is achieved more simlpy using the `which` function like this:

In [107]:
which(is.na(vmv))

[1] 7 8

Or use the `ifelse` function like this:

In [109]:
vmv = c(1:6,NA,NA,9:12)
ifelse(is.na(vmv),0,vmv)

 [1]  1  2  3  4  5  6  0  0  9 10 11 12

### Vectors and subscripts