# Imports

In [1]:
%pylab inline
from datetime import datetime, timedelta
import numpy as np
import pandas as pd
from matplotlib import gridspec
import poloniex as plnx
import ta_lib as ta

Populating the interactive namespace from numpy and matplotlib

In [16]:
pair = 'USDT_BTC'
timeframe = 15 * 60
end = datetime.utcnow()
start = end - timedelta(days=31)
chart = plnx.get_chart(pair, timeframe, start, end)
ta.ema(chart, 8)
ta.ema(chart, 21)
ta.ema(chart, 55)

In [19]:
chart[53:55]

,close,date,high,low,open,ema8,ema21,ema55
53,9620.604936,2018-04-25 05:15:00,9720.463547,9613.610963,9720.463546,9675.346698,9644.231997,NaN
54,9619.178705,2018-04-25 05:30:00,9650.000000,9611.423423,9631.812629,9660.759728,9642.798719,9550.306643

In [15]:
for i in range(55, len(chart.index)):
    break